__pycache__/
*.py[cod]
/.venv/


/docs/
/examples/
/opencode/
/claude-code-main/
/input/
/outputs/
/.vscode
/memory/
/scripts/
/desktop/node_modules/
/desktop/out/
/desktop/dist/
/config/prompts/youyouzi.md
/config/prompts/wuxi_agent.md
/skills/ppt-master-main/

AGENT.md
level_strategy.json
.env
!.env.example
